# Database
DATABASE_URL=your-database_url

# Cache
REDIS_HOST="your-redis_host"
REDIS_PASSWORD="your-redis_password"
REDIS_PORT=your-redis_port
REDIS_DB=your-redis_db

# JWT
# openssl genpkey -algorithm RSA -out private_key.pem -pkeyopt rsa_keygen_bits:2048 && openssl base64 -in private_key.pem
JWT_PRIVATE_KEY=your-jwt_private_key
# openssl rsa -pubout -in private_key.pem -out public_key.pem && openssl base64 -in public_key.pem
JWT_PUBLIC_KEY=your-jwt_public_key
