@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 98%;
		--foreground: 270 8% 5%;

		--card: 240 8% 97%;
		--card-foreground: 270 8% 5%;

		--popover: 240 8% 97%;
		--popover-foreground: 270 8% 5%;

		--primary: 262 83% 58%;
		--primary-foreground: 0 0% 98%;

		--secondary: 270 6% 93%;
		--secondary-foreground: 270 8% 5%;

		--muted: 270 6% 93%;
		--muted-foreground: 261 6% 45%;

		--accent: 270 6% 93%;
		--accent-foreground: 270 8% 5%;

		--destructive: 0 84% 60%;
		--destructive-foreground: 0 0% 98%;

		--border: 260 6% 90%;
		--input: 260 7% 82%;
		--ring: 263 24% 74%;

		--radius: 0.5rem;

		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
	}

	.dark {
		--background: 240 3% 6%;
		--foreground: 0 0% 98%;

		--card: 270 6% 7%;
		--card-foreground: 0 0% 98%;

		--popover: 270 6% 7%;
		--popover-foreground: 0 0% 98%;

		--primary: 262 83% 58%;
		--primary-foreground: 0 0% 98%;

		--secondary: 255 5% 15%;
		--secondary-foreground: 0 0% 98%;

		--muted: 260 5% 22%;
		--muted-foreground: 260 5% 49%;

		--accent: 262 45% 14%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 84% 60%;
		--destructive-foreground: 0 0% 98%;

		--border: 260 5% 12%;
		--input: 255 4% 18%;
		--ring: 262 83% 40%;

		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
